---
layout: default
title: Home
cover: false
about: 'about.html'
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="buttons.css">
<header class="main-header">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <!--<a class="subscribe-button icon-feed" href="{{'feed.xml' | relative_url }} ">Subscribe</a>-->
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description" style="font-family: open sans light;">
            {% if site.description %} {{ site.description }} {% endif %}
            <br>
            <br>
            <br>
            <a href="https://twitter.com/r0075h3ll" target="_blank"><button class="btn_tw"><i class="fa fa-twitter" style="font-size: 20px;"></i></button></a>
            <a href="https://github.com/r0075h3ll" target="_blank"><button class="btn_git"><i class="fa fa-github" style="font-size: 20px;"></i></button></a>
            <a href="https://instagram.com/r0075h3ll" target="_blank"><button class="btn_ins"><i class="fa fa-instagram" style="font-size: 20px;"></i></button></a>
                <!--{% if page.about %} <a href='{{page.about | relative_url}}'> About me </a> {% endif %}-->
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 style="font-size: 28px;" class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            <img src="{{ post.thumbnail }}">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url | relative_url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="{{'/assets/images/profile.png' | relative_url}}" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
